.label
{
    width: 450px;
    margin: 10px 0 0 0;
    padding: 10px;
    background-color: #ccccff;
    text-align: center;
}

.elements
{
    border: 1px solid #ccccff;
    padding: 10px;
    width: 450px;
}

.left_box
{
    width:50%;
    padding: 10px;
    float: left;
}

.right_box
{
    width:40%;
    float: right;
} 

.pre{
    background-color: #ffe773;
    color:black;
    white-space: normal;
    word-wrap: break-word;
}

p {
    background-color: #ffe773;
    color:black;
    white-space: normal;
    word-wrap: break-word;
}
